---
import type { SiteConfig } from "@types";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full border-t border-theme px-5 pt-5 pb-8 text-center text-fg"
>
  <ul class="mb-5 flex flex-wrap justify-center gap-x-5 text-xs">
    {
      socialLinks.map(({ text, href }) => (
        <li>
          <a
            href={href}
            target="_blank"
            class="inline-flex items-center gap-1 px-4 py-3 text-gray-300 hover:text-white transition-colors after:relative after:bottom-[-1px] after:content-[url(/external.svg)] after:filter after:brightness-0 after:invert after:opacity-70 hover:after:opacity-100"
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-xs text-gray-400">
    © {currentYear} {author}. <span class="text-gray-500">All rights reserved.</span>
  </p>
  <p class="mt-2 text-xs text-gray-500">
    Designed & Developed with ❤️
  </p>
</footer>
