---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24">
  <div class="mx-auto max-w-7xl px-5">
    <div class="mb-10">
      <h2
        class="font-serif text-4xl font-bold tracking-tighter text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-purple-400 md:text-5xl"
      >
        {text}
      </h2>
      <div class="mt-4 h-[3px] w-20 rounded-full bg-gradient-to-r from-pink-400 to-purple-400"></div>
    </div>
    <slot />
  </div>
</section>
